{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Login</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/styles1.css'%}"/>
</head>
<body>
    <div class="container">
        <form method="POST" action="{% url 'checklogin' %}">
    {% csrf_token %}
            <h2>Login</h2>
            <div class="input-container">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-container">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
